/* write your override styles here */

#wall .tag-1 {
   display: none;
}

/* tag 2 */
#wall #tag-2 {
   display: none;
}

/* tag 3 */
div#wall #tag-3.slick {
   background: url(../images/tag-3.png) no-repeat;
   z-index: 5;
   display: none;
}

/* tag 4 */
#wall #tag-4 {
   display: none;
}

/* tag 5 */
div#wall .parent #tag-5.slick {
   display: none;
}

div#wall div.parent div:last-child div#tag-6 {
   background: url(../images/tag-6.png) no-repeat;
   z-index: 2;
   display: none;
}


body div#wall div.parent div > #tag-7.slick {
   background: url(../images/tag-7.png) no-repeat;
   z-index: 1;
   display: none;
}